<html>
  <head>
    <title>HDE_PUB_LIB Blank project</title>
  </head>
  </body>
    <h1>KiCad project configured to use HDE_PUB_LIB</h1>
    <ul>
      <li>Library Repository: git@github.com:HashDefineElectronics/HDE_PUB_LIB.git</li>
      <li>Website: <a href="HashDefineElectronics.com">HashDefineElectronics.com</a></li>
      <li>Author: Ronald Sousa @opticalworm</li>
    </ul>
    <p>
      <h2>Note on importing HDE_PUB_LIB</h2>
      The library is required to be locaded on the folder level as the KiCad Projet using it.
      <h3>For example</h3>
        <ul>
          <li>Project_Folder->HDE_PUB_LIB</li>
          <li>Project_Folder->KICAD_PROJECT->KiCad_Files</li>
        </ul>
    </p>
  </body>
</html>
